<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eye2 Diagnosis{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    {% block head_extra %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}
    {# سيتم ملء هذا المحتوى بواسطة القوالب الفرعية #}
    {% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>